<a href="https://colab.research.google.com/github/RunheZH/3253-ML-project/blob/main/model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SCS 3253 Machine Learning
## Anomaly Detection in Time Series

In [1]:
# Data processing
import pandas as pd
import numpy as np
from collections import Counter
# Visualization
import matplotlib.pyplot as plt
# Model and performance
from sklearn.svm import OneClassSVM
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [3]:
#!git clone https://github.com/RunheZH/3253-ML-project.git

Cloning into '3253-ML-project'...
remote: Enumerating objects: 15, done.
remote: Counting objects: 100% (15/15), done.
remote: Compressing objects: 100% (14/14), done.
remote: Total 15 (delta 3), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (15/15), done.

In [37]:
ls

ECLog.ipynb  improved_model.ipynb  model.ipynb  nyctaxi_dataset.csv  README.md

In [38]:
originaldf = pd.read_csv('nyctaxi_dataset.csv')

In [39]:
originaldf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10320 entries, 0 to 10319
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10320 non-null  int64
 1   timestamp   10320 non-null  object
 2   value       10320 non-null  int64
dtypes: int64(2), object(1)
memory usage: 242.0+ KB

In [18]:
originaldf.head()

   Unnamed: 0            timestamp  value
0           0  2014-07-01 00:00:00  10844
1           1  2014-07-01 00:30:00   8127
2           2  2014-07-01 01:00:00   6210
3           3  2014-07-01 01:30:00   4656
4           4  2014-07-01 02:00:00   3820

In [26]:
moddf1 = originaldf[['timestamp', 'value']]

In [27]:
moddf1

                 timestamp  value
0      2014-07-01 00:00:00  10844
1      2014-07-01 00:30:00   8127
2      2014-07-01 01:00:00   6210
3      2014-07-01 01:30:00   4656
4      2014-07-01 02:00:00   3820
...                    ...    ...
10315  2015-01-31 21:30:00  24670
10316  2015-01-31 22:00:00  25721
10317  2015-01-31 22:30:00  27309
10318  2015-01-31 23:00:00  26591
10319  2015-01-31 23:30:00  26288

[10320 rows x 2 columns]

In [50]:
train_set, test_set = train_test_split(moddf2, test_size=0.3, random_state=42)

In [51]:
target = 'value'
feature = 'timestamp'
target.

In [52]:
X_tr = train_set[feature]
y_tr = train_set[[target]]

X_te = test_set[feature]
y_te = test_set[[target]]

In [54]:
one_class_svm = OneClassSVM(nu=0.01, kernel = 'rbf', gamma = 'auto').fit(X_tr)

ValueError: ignored

In [44]:
moddf2 = moddf1
moddf2['timestamp'] = pd.to_datetime(moddf2['timestamp'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [45]:
moddf2

                timestamp  value
0     2014-07-01 00:00:00  10844
1     2014-07-01 00:30:00   8127
2     2014-07-01 01:00:00   6210
3     2014-07-01 01:30:00   4656
4     2014-07-01 02:00:00   3820
...                   ...    ...
10315 2015-01-31 21:30:00  24670
10316 2015-01-31 22:00:00  25721
10317 2015-01-31 22:30:00  27309
10318 2015-01-31 23:00:00  26591
10319 2015-01-31 23:30:00  26288

[10320 rows x 2 columns]

In [48]:
type(moddf2['timestamp'])

pandas.core.series.Series

In [49]:
type(moddf1['timestamp'])

pandas.core.series.Series